# production environment variables for container build

# sqlite database
# defaults to ./database/data/db.sqlite
# should point to a volume in container environment (e.g., ./database/data)
# can be empty
DB_FILE_NAME=


# A secret value used for encryption and hashing.
# It must be at least 32 characters and generated with high entropy
# You can use "openssl rand -base64 32" to generate one
# required
BETTER_AUTH_SECRET=

# Base URL of the app, used for authentication redirects & callbacks, reverse proxy, ssl, etc.
# examples:
# BASE_URL=https://somewebsite.io
# BASE_URL=https://localhost:3000
# BASE_URL=https://test.test.xyz/sub/subpath
# required
BASE_URL=https://localhost



# Discord application oAuth client information
# make sure to add the redirect URI to the oAuth2 Settings in the Discord developer portal
# - e.g., {BASE_URL}/auth/callback/discord
# required
DISCORD_CLIENT_ID=1234567890ABCDEFGHI
DISCORD_CLIENT_SECRET=XYZXYZXYZXYZXYZXYZXYZXYZ

# Discord guild aka server ID - only users belonging to this guild will be allowed to authenticate
# required
DISCORD_GUILD_ID=213905419108614145



# Discord admin user IDs - these users will always be allowed to login,
# and will always get the admin role no matter the application settings
# Comma-separated list of Discord user IDs (snowflakes)
# can be empty
DISCORD_ADMIN_IDS=

# backend used Debug module - all messages are prefixed with "loc:"
DEBUG=loc:*,-loc:service:war-api*,-loc:service:diff*