<section class="
  flex flex-row flex-wrap content-start justify-center gap-3 overflow-x-hidden overflow-y-auto px-2
  not-firefox:scroll-fade data-list:gap-0
" id="order" [attr.data-list]="variant() === 'list' ? '' : null">
  
  @if(highPriorityItems().length > 0) {
    @for (item of highPriorityItems(); track item.id) {
      <app-order-item [orderItem]="item" [variant]="variant()" [mode]="mode()" [order]="order()"/>
    }
  }

  @if(mediumPriorityItems().length > 0) {
    @for (item of mediumPriorityItems(); track item.id) {
      <app-order-item [orderItem]="item" [variant]="variant()" [mode]="mode()" [order]="order()"/>
    }
  }

  @if(lowPriorityItems().length > 0) {
    @for (item of lowPriorityItems(); track item.id) {
      <app-order-item [orderItem]="item" [variant]="variant()" [mode]="mode()" [order]="order()"/>
    }
  }

</section>