@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';


body {
  margin: 0;
  padding: 0;
  background-color: #333;
}


@import "@spartan-ng/brain/hlm-tailwind-preset.css";
@import '@angular/cdk/overlay-prebuilt.css';

@custom-variant firefox (@supports (-moz-appearance: none));

@theme {
  --color-success: #bef264;
  --color-successo: --alpha(var(--color-lime-300) / 10%);
}

:root {
  color-scheme: light;

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --radius: 6px;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: var(--color-amber-500);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);


}

:root.dark {
  color-scheme: dark;

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: var(--color-amber-500);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --sidebar: #171717ef;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.985 0 0);
  --sidebar-primary-foreground: oklch(0.205 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 15%);
  --sidebar-ring: oklch(0.556 0 0);

}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  border: 1px solid var(--input);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: var(--border);
}

::-webkit-scrollbar-thumb:vertical {

  background: var(--input);
  border: 1px solid var(--border);
  -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
  -webkit-border-radius: 100px;
}

/* Firefox doesn't support ::-webkit-scrollbar, use the scrollbar-* properties instead */
@variant firefox {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--input) transparent;
  }

  *:hover {
    scrollbar-color: var(--input) var(--border);
  }
}


.leaflet-container {
  font-family: inherit!important;
}

*:has(>[data-codeName="ShirtStack"]) { position: relative; }
*:has(>[data-codeName="ShirtStack"])::after {
  content: '100';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-success);
  font-weight: bold;
  text-shadow: 0px 0px 2px black,  0px 0px 3px black,  0px 0px 5px black;
  pointer-events: none;
}